body {
    color: white;
    background-color: rgb(21, 13, 77);
    font-size: 120%;
}

.logo {
    float: left;
    border-radius: 10px;
}

#inicio {
    width: 100%;
    margin-top: -1%;
    border-bottom: 1px white solid;
    text-align: right;
}

.zap {
    width: 7.5%;
    margin-bottom: 1%;
}

#versiculo {
    font-size: medium;
}


h1, h2, p {
    text-align: center;
}

.container {
    background-color: rgb(34, 17, 85);
    border-radius: 6px;
    border: 1px rgb(32, 23, 56) solid;
    margin-left: -2%;
    width: 103%;
    border-color: white;
}

.container:hover {
    background-color: rgb(27, 16, 59);
}